{% extends "course_base.html"%}


{% block title %}发展前沿{% end %}


{% block right-course-content  %}
<div class="intro-course-box">
        <p class="first_par">计算机组成原理是计算机科学与技术专业的一门重要
的专业基础课。通过对本课程的学习，使学生了解计算机
的基本组成与工作原理，掌握计算机系统的基本设计技术
，培养学生分析和解决复杂数字系统实际问题的能力，同
时为学习本专业后续课程和进行与硬件有关的技术工作打
下坚实的基础。</p>
        <p class="first_par">课程在以培养学生创新能力和解决实际问题的能力为主的思想指导下，形成了由理论课、实验课、计算机设计与实践构成的课程体系。使学生系统地理解计算机硬件系统的组织结构和工作原理，掌握计算机硬件系统的基本分析与设计方法，建立计算机系统的整体概念。</p>
        <p class="first_par">在计算机科学与技术专业所设置课程中的地位极为重要
，由ACM和IEEE/CS联合教程专题组1990年发表的《
Computing Curricula 1991》、2001年3月发表的《
Computing Curricula 2001 》和2005年9月发表的《
Computing Curricula 2005》中都将本课程列为计算机专
业的主干课程。</p>
    <p class="first_par">本课程主要是以一个简化了的但又是完
备的单处理机系统为例讲解计算机的组成
原理和内部运行机制，包括运算器部件、
控制器部件、存储器子系统、输入/输出子
系统（总线与接口等）与输入/输出系统设
备，按照各自的功能、组成、设计、实现
、使用等知识进行组织。 </p>
</div>
{% end  %}