{% extends "front_base.html"%}

{% block cssblock %}
<style>
    .panel-title{
        text-align: center;
    }
    .panel-body{
        height: 180px;
    }
    li{
        list-style: none;
        text-decoration: none;
        cursor: pointer;
    }
    a{
        text-decoration: none;
    }
    #bulletin-ul li span{
        font-size: 20px;
        color:#337ab7;
    }
    #bulletin-ul li a{
        font-size: 16px;
    }
    .row .col-sm-3 .bulletin_panel{
        margin: 0 auto;
    }
    .bulletin-more{
        width: 72px;
        position: absolute;
        bottom: 36px;
        right: 18px;
    }

    /*L轮播图*/
    .index-banner-box{
        width: 945px;
        height: 270px;
        margin:-20px auto;
        position: relative;
    }
    .banner-box1{
        width: 630px;
        height: 100%;
        float: left;
    }
    .erduo{
        /*改变为块*/
        display: block;
        width:40px;
        height: 51px;
        font-size: 24px;
        text-align: center;
        line-height: 51px;
        background: rgba(0,0,0,0.4);
        color:white;
        position: absolute;
        top:50%;
        margin-top: -25px;

    }
    .index-banner-box:hover .erduo{
        display: block;
    }
    .pre{
        left: 0px;
        border-radius: 0 10px 10px 0;
        display: none;
    }
    .next{
        right: 0px;
        border-radius: 10px 0 0 10px;
        display: none;
    }
    .banner-ul{
        border-radius: 11px;
        width: 100px;
        height: 22px;
        background: rgba(229,229,229,0.4);
        position: absolute;
        bottom: 22px;
        left: 50%;
        margin-left: -20px;
    }
    .banner-ul li{
        width:12px;
        height: 12px;
        background: gray;
        border-radius: 50%;
        float: left;
        margin-left: 16px;
        margin-top: 6px;
    }
    .banner-ul .on{
        background: #ED4F11;

    }
    .banner-right{
        width: 315px;
        height: 270px;
        float: left;
        overflow: hidden;
    }
    .banner-right .img1{
        margin: 0px;
        padding: 0px;
    }
    /*L轮播图*/
</style>
{% end %}

{% block content%}
<div class="row">
    <div class="index-banner-box">
    	<div class="banner-box1">
    		<img id="img" src="/static/images/img/1.jpg" width="630" height="270">
    		<a id="pre" class="erduo pre" href="javascript:void(0);">&lt;</a>
    		<ul class="banner-ul" id="banner-ul">
    			<li class="on"></li>
	    		<li></li>
	    		<li></li>
    		</ul>
    	</div>
    	<div class="banner-right">
    		<a id="next" class="erduo next" href="javascript:void(0);">&gt;</a>
    		<img id="img_right1" class="img1" src="/static/images/img/2.jpg" width="315px" height="135">
    		<img id="img_right2" class="img1" src="/static/images/img/3.jpg" width="315" height="135">
    	</div>
    </div>
</div>
<div class="row">
    <div class="row col-sm-2">

    </div>
    <div class="row col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">公告</h3>
            </div>
            <div class="panel-body">
                <ul id="bulletin-ul">
                    {% for bulletin in bulletins_top%}
                        <li><a href="#">[{{ bulletin[1] }}]&nbsp;&nbsp;{{ bulletin[0] }}</a><span class="iconfont">&#xe604;</span></li>
                    {% end%}
                </ul>
                <div class="bulletin-more">
                    <a href="#">查看更多&gt;</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% end %}

{% block footjs%}
<script>
    	window.onload = function(){
    		var pre = document.getElementById("pre");
	    	var next = document.getElementById("next");
	    	var img = document.getElementById("img");
	    	var ulDom = document.getElementById("banner-ul");
	    	var liDom = ulDom.getElementsByTagName("li");
	    	var img_right1 = document.getElementById("img_right1");
	    	var img_right2 = document.getElementById("img_right2");
	    	var index = 1;

	    	// 点击右键应用样式
	    	next.onclick=function (){
	    		index++;
	    		if (index === 4) {
	    			index=1;
	    		};
	    		img.src="/static/images/img/"+index+".jpg";

	    		for (var i = 0; i < liDom.length; i++) {
	    			liDom[i].className = "";
	    		}
	    		liDom[index-1].className = "on";
	    	};
	    	window.setInterval("next.onclick()",6000);
	    	// 点击左键出现样式
	    	pre.onclick=function(){
	    		index--;
	    		if (index===0) {
	    			index=3;
	    		};
	    		img.src="/static/images/img/"+index+".jpg";
	    		img_right1.src="/static/images/img/"+index+".jpg";
	    		for (var i = 0; i < liDom.length; i++) {
	    			liDom[i].className = "";
	    		}
	    		liDom[index-1].className = "on";
	    	};
    	};
    </script>
{% end %}