{% extends "../common/bootstrap_base.html" %}


{% block cssblock %}
    <link rel="stylesheet" href="/static/css/front/front_sign_base.css">
	{% block css_child_block %}{% end %}
{% end %}


{% block bodyblock %}
	<div class="container">
		<div class="index">
            <a href="/">网站首页</a>
        </div>
		<div class="front-logo">
	    	<p class="logo-p">计算机组成与结构教学网站</p>
	    	<p class="logo-exp">也许我欠缺的不是运气，而是平常心</p>
	    </div>
	    <hr class="hr-sign">
	    {% block login_regist_block %}{% end %}
	    
	    <form action="{{ action_url }}" class="form sign-form" method="post">
			{% block formblock %}{% end %}
		</form>
	</div>

{% end %}

