{% extends "front_base.html"%}

{% block cssblock %}
<script src="/static/js/front/jquery-1.11.1.min.js"></script>
<script src="/static/js/front/unslider.min.js"></script>
<style>
    #bulletin-block .panel-title{
        text-align: center;
    }
    #bulletin-block .panel-body{
        height: 180px;
    }
    #bulletin-block li{
        list-style: none;
        text-decoration: none;
        cursor: pointer;
    }
    #bulletin-block a{
        text-decoration: none;
    }
    #bulletin-ul li span{
        font-size: 20px;
        color:#337ab7;
    }
    #bulletin-ul li a{
        font-size: 16px;
    }
    .row .col-sm-3 .bulletin_panel{
        margin: 0 auto;
    }
    .bulletin-more{
        width: 72px;
        position: absolute;
        bottom: 36px;
        right: 18px;
    }
    #bulletin-block{
        margin: 16px 0 0 0;
    }
    /*banner-start*/

    #b04 ul, ol { padding: 0;}
    .banner { position: relative;
        overflow: auto;
        text-align: center;
        margin: 0 auto;
    }
    .banner li { list-style: none; }
    .banner ul li { float: left; }
    #b04 { width: 640px;}
    #b04 .dots { position: absolute; left: 0; right: 0; bottom: 20px;}
    #b04 .dots li
    {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 4px;
        text-indent: -999em;
        border: 2px solid #fff;
        border-radius: 6px;
        cursor: pointer;
        opacity: .4;
        -webkit-transition: background .5s, opacity .5s;
        -moz-transition: background .5s, opacity .5s;
        transition: background .5s, opacity .5s;
    }
    #b04 .dots li.active
    {
        background: #fff;
        opacity: 1;
    }
    #b04 .arrow { position: absolute; top: 149px;}
    #b04 #al { left: 15px;}
    #b04 #ar { right: 15px;}
    #b04 ul li img{
        width: 900px;
        height: 320px;
    }
    /*banner*/
</style>
{% end %}

{% block content%}
<div class="banner" id="b04">
    <ul>
        <li><img src="/static/images/banner/01.jpg"></li>
        <li><img src="/static/images/banner/02.jpg"></li>
        <li><img src="/static/images/banner/03.jpg"></li>
        <li><img src="/static/images/banner/04.jpg"></li>
        <li><img src="/static/images/banner/05.jpg" ></li>
    </ul>
    <a href="javascript:void(0);" class="unslider-arrow04 prev"><img class="arrow" id="al" src="/static/images/banner/arrowl.png" alt="prev" width="20" height="35"></a>
    <a href="javascript:void(0);" class="unslider-arrow04 next"><img class="arrow" id="ar" src="/static/images/banner/arrowr.png" alt="next" width="20" height="37"></a>
</div>
<script>
$(document).ready(function(e) {
    var unslider04 = $('#b04').unslider({
        dots: true
    }),
    data04 = unslider04.data('unslider');

    $('.unslider-arrow04').click(function() {
        var fn = this.className.split(' ')[1];
        data04[fn]();
    });
});
</script>
<div class="row">
    <div class="row col-sm-2">
    </div>
    <div class="row col-sm-3" id="bulletin-block">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">公告</h3>
            </div>
            <div class="panel-body">
                <ul id="bulletin-ul">
                    {% for bulletin in bulletins_top%}
                        <li><a href="#">[{{ bulletin[1] }}]&nbsp;&nbsp;{{ bulletin[0] }}</a><span class="iconfont">&#xe604;</span></li>
                    {% end%}
                </ul>
                <div class="bulletin-more">
                    <a href="#">查看更多&gt;</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% end %}

{% block footjs%}

{% end %}