{% extends "front_base.html"%}

{% block title %}教学网站首页{% end %}

{% block cssblock %}
<link rel="stylesheet" href="/static/css/front/front_index.css">
{% end %}


{% block content%}
<!--<div style="height:0;overflow:hidden;"></div>-->
<!--<div class="flexslider">-->
<!--<ul class="slides">-->
<!--<li style="background:url(/static/images/banner/img1.jpg) 50% 0 no-repeat;"></li>-->
<!--<li style="background:url(/static/images/banner/img2.jpg) 50% 0 no-repeat;"></li>-->
<!--<li style="background:url(/static/images/banner/img3.jpg) 50% 0 no-repeat;"></li>-->
<!--<li style="background:url(/static/images/banner/img4.jpg) 50% 0 no-repeat;"></li>-->
<!--<li style="background:url(/static/images/banner/img5.jpg) 50% 0 no-repeat;"></li>-->
<!--</ul>-->
<!--</div>-->
<div class="row course-info">
    <section class="course-introduction">
        <div class="course-introduction-infor pull-left">
            <div class="course-title clearfix">
                <p class="title-p">计算机组成与结构</p>
                <span class="title-rank">必修课</span>
            </div>
            <div class="course-btn" id="course-btn">
                {% if username %}
                <a class="course-btn-style btn-alreadyjoin" href="/resource?page=1">已加入，开始学习</a>
                {% else %}
                <a class="course-btn-style btn-join active" href="/regist" target="_blank">加入学习</a>
                {% end %}
            </div>
            <div class="course-text">
                <p>“计算机组成与结构”是计算机及其相关专业本科生的主干核心课程，是必修的专业基础课。本课程包括“计算机组成原理”和“计算机系统结构”两大部分。本课程侧重于硬件，是本科阶段为数不多的涉及到计算机内部构造的课程。</p>
            </div>
        </div>
        <div id="courseBulletin-box" class="course-bulletin pull-right">
            <div id="bulletin-block" class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">公告</h3>
                    </div>
                    <div class="panel-body">
                        <ul id="bulletin-ul">
                            {% for bulletin in bulletins_top%}
                            <li><a href="bulletin_detail?id={{ bulletin['_id'] }}">[{{ bulletin['top_time'] }}]&nbsp;&nbsp;{{ bulletin['title'] }}</a><span class="iconfont">&#xe604;</span></li>
                            {% end%}
                            {% for bulletin in bulletins_untop%}
                            <li><a href="bulletin_detail?id={{ bulletin['_id'] }}">[{{ bulletin['pub_time'] }}]&nbsp;&nbsp;{{ bulletin['title'] }}</a></li>
                            {% end %}
                        </ul>
                        <div class="bulletin-more">
                            <a href="/bulletin">查看更多&gt;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="course-primary-main">
    <section class="course-primary">
        <!-- 课程介绍-->
        <div class="course-primary-text">
            <div class="title">课程介绍</div>
            <div class="content-intro">
                <p class="text">计算机组成与结构课程介绍
                    “计算机组成与结构”是计算机及其相关专业本科生的主干核心课程，是必修的专业基础课。本课程包括“计算机组成原理”和“计算机系统结构”两大部分。本课程侧重于硬件，是本科阶段为数不多的涉及到计算机内部构造的课程。
                    本课程主要讨论单机系统范围内计算机各部件和系统的组成以及内部工作机制。通过对本门课程学习，要求学生掌握计算机各大部件的工作原理、组成方法以及相互关系，了解计算机系...</p>
            </div>
        </div>
        <!-- 教学单元-->
        <div class="course-primary-unit">
            <div class="title">教学单元</div>
            <div class="content-unit">
                <ul class="list-out-l">

                    <li class="list-out-i">第1章
                        计算机系统概论
                        <ul class="list-in-l">
                            <li class="list-in-i"><span>1.1</span>
                                <p>计算机的分类</p></li>
                            <li class="list-in-i"><span>1.2</span>
                                <p>计算机的发展简史</p></li>
                            <li class="list-in-i"><span>1.3</span>
                                <p>计算机硬件</p></li>
                            <li class="list-in-i"><span>1.4</span>
                                <p>计算机的软件</p></li>
                            <li class="list-in-i"><span>1.5</span>
                                <p>计算机系统层次结构</p></li>
                        </ul>
                    </li>

                    <li class="list-out-i">第2章
                        运算方法和运算器
                        <ul class="list-in-l">

                            <li class="list-in-i"><span>2.1</span>
                                <p>数据与文字的表示方法</p></li>

                            <li class="list-in-i"><span>2.2</span>
                                <p>定点加法/减法运算</p></li>

                            <li class="list-in-i"><span>2.3</span>
                                <p>定点乘法运算</p></li>

                            <li class="list-in-i"><span>2.4</span>
                                <p>定点除法运算</p></li>

                            <li class="list-in-i"><span>2.5</span>
                                <p>定点运算器的组成</p></li>

                            <li class="list-in-i"><span>2.6</span>
                                <p>浮点运算方法和浮点运算器</p></li>
                        </ul>
                    </li>

                    <li class="list-out-i">第3章
                        多层次的存储器
                        <ul class="list-in-l">

                            <li class="list-in-i"><span>3.1</span>
                                <p>存储器概述</p></li>

                            <li class="list-in-i"><span>3.2</span>
                                <p>SRAM存储器</p></li>

                            <li class="list-in-i"><span>3.3</span>
                                <p>DRAM存储器</p></li>

                            <li class="list-in-i"><span>3.4</span>
                                <p>只读存储器和闪速存储器</p></li>

                            <li class="list-in-i"><span>3.5</span>
                                <p>并行存储器</p></li>
                            <li class="list-in-i"><span>3.6</span>
                                <p>cache存储器</p></li>
                            <li class="list-in-i"><span>3.7</span>
                                <p>虚拟存储器</p></li>
                            <li class="list-in-i"><span>3.8</span>
                                <p>奔腾系列机的虚存组织</p></li>
                        </ul>
                    </li>

                    <li class="list-out-i">第4章
                        指令系统
                        <ul class="list-in-l">

                            <li class="list-in-i"><span>4.1</span>
                                <p>指令系统的发展和性能要求</p></li>

                            <li class="list-in-i"><span>4.2</span>
                                <p>指令格式</p></li>

                            <li class="list-in-i"><span>4.3</span>
                                <p>操作数类型</p></li>

                            <li class="list-in-i"><span>4.4</span>
                                <p>指令和数据的寻址方式</p></li>
                            <li class="list-in-i"><span>4.5</span>
                                <p>典型指令</p></li>
                            <li class="list-in-i"><span>4.6</span>
                                <p>ARM汇编语言</p></li>
                        </ul>
                    </li>

                    <li class="list-out-i">第5章
                        中央处理器
                        <ul class="list-in-l">

                            <li class="list-in-i"><span>5.1</span>
                                <p>CPU的功能和组成</p></li>

                            <li class="list-in-i"><span>5.2</span>
                                <p>指令周期</p></li>

                            <li class="list-in-i"><span>5.3</span>
                                <p>时序产生器和控制方式</p></li>

                            <li class="list-in-i"><span>5.4</span>
                                <p>微程序控制器</p></li>

                            <li class="list-in-i"><span>5.5</span>
                                <p>硬连线控制器</p></li>

                            <li class="list-in-i"><span>5.6</span>
                                <p>流水CPU</p></li>

                            <li class="list-in-i"><span>5.7</span>
                                <p>RISC CPU</p></li>
                        </ul>
                    </li>

                    <li class="list-out-i">第6章
                        总线系统
                        <ul class="list-in-l">

                            <li class="list-in-i"><span>6.1</span>
                                <p>总线的概念和结构形成</p></li>

                            <li class="list-in-i"><span>6.2</span>
                                <p>总线接口</p></li>

                            <li class="list-in-i"><span>6.3</span>
                                <p>总线的仲裁</p></li>

                            <li class="list-in-i"><span>6.4</span>
                                <p>总线的定时和数据传送模式</p></li>

                            <li class="list-in-i"><span>6.5</span>
                                <p>HOST总线和PCI总线</p></li>

                            <li class="list-in-i"><span>6.6</span>
                                <p>InfiniBand标准</p></li>
                        </ul>
                    </li>

                    <li class="list-out-i">第7章
                        外存与I/O设备
                        <ul class="list-in-l">

                            <li class="list-in-i"><span>7.1</span>
                                <p>外围设备概述</p></li>

                            <li class="list-in-i"><span>7.2</span>
                                <p>磁盘存储设备</p></li>

                            <li class="list-in-i"><span>7.3</span>
                                <p>磁盘存储设备的技术发展</p></li>

                            <li class="list-in-i"><span>7.4</span>
                                <p>磁带存储设备</p></li>

                            <li class="list-in-i"><span>7.5</span>
                                <p>光盘和磁光盘存储设备</p></li>
                            <li class="list-in-i"><span>7.6</span>
                                <p>显示设备</p></li>
                            <li class="list-in-i"><span>7.7</span>
                                <p>输入设备和打印设备</p></li>
                        </ul>
                    </li>
                    <li class="list-out-i">第8章
                        输入输出系统
                        <ul class="list-in-l">
                            <li class="list-in-i"><span>8.1</span>
                                <p>外围设备的速度分级与信息交换方式</p></li>

                            <li class="list-in-i"><span>8.2</span>
                                <p>程序查询方式</p></li>

                            <li class="list-in-i"><span>8.3</span>
                                <p>程序中断方式</p></li>

                            <li class="list-in-i"><span>8.4</span>
                                <p>DMA方式</p></li>

                            <li class="list-in-i"><span>8.5</span>
                                <p>通道方式</p></li>

                            <li class="list-in-i"><span>8.6</span>
                                <p>通用I/O标准接口</p></li>
                        </ul>
                    </li>

                    <li class="list-out-i">第9章
                        并行组织与结构
                        <ul class="list-in-l">

                            <li class="list-in-i"><span>9.1</span>
                                <p>体系结构中的并行性</p></li>

                            <li class="list-in-i"><span>9.2</span>
                                <p>多线程与超线程处理机</p></li>

                            <li class="list-in-i"><span>9.3</span>
                                <p>多处理机</p></li>

                            <li class="list-in-i"><span>9.4</span>
                                <p>多核处理机</p></li>

                            <li class="list-in-i"><span>9.5</span>
                                <p>多核处理机实例</p></li>

                        </ul>
                    </li>

                    <li class="list-out-i">第10章
                        课程教学实验设计
                        <ul class="list-in-l">

                            <li class="list-in-i"><span>10.1</span>
                                <p>TEC-8实验系统平台</p></li>

                            <li class="list-in-i"><span>10.2</span>
                                <p>TEC-8实验系统结构与操作</p></li>

                            <li class="list-in-i"><span>10.3</span>
                                <p>运算器组成实验</p></li>

                            <li class="list-in-i"><span>10.4</span>
                                <p>双端口存储器实验</p></li>

                            <li class="list-in-i"><span>10.5</span>
                                <p>数据通路实验</p></li>

                            <li class="list-in-i"><span>10.6</span>
                                <p>微程序控制器实验</p></li>

                            <li class="list-in-i"><span>10.7</span>
                                <p>CPU组成与机器指令的执行实验</p></li>
                        </ul>
                    </li>
                    <li class="list-out-i">第11章
                        课程综合设计
                        <ul class="list-in-l">

                            <li class="list-in-i"><span>11.1</span>
                                <p>硬连线控制器的常规CPU设计</p></li>
                            <li class="list-in-i"><span>11.1</span>
                                <p>还有阵列乘法器的ALU设计</p></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 教材-->
        <div class="course-teaching-material">
            <div class="title">教材</div>
            <div class="content-material">
                <ul class="course-teaching-material-l clearfix">
                    <li class="course-teaching-material-i pull-left">
                        <div class="teaching-material clearfix">
                            <div class="teaching-material-img">
                                <img src="/static/images/front/book.gif">
                            </div>
                            <div class="teaching-material-content">
                                <div class="teaching-material-content-title">主教材</div>
                                <div class="teaching-material-content-level">计算机组成原理</div>
                                <div class="teaching-material-content-isbn">
                                    <span>ISBN:9787030369642</span>
                                </div>
                                <div class="teaching-material-content-editor">
                                    <span>主编:白中英,戴志涛</span>
                                </div>
                                <div class="teaching-material-content-from">科学出版社</div>
                            </div>
                        </div>
                    </li>
                    <li class="course-teaching-material-i pull-left">
                        <div class="teaching-material clearfix">
                            <div class="teaching-material-img">
                                <img src="/static/images/front/book1.png">
                            </div>
                            <div class="teaching-material-content">
                                <div class="teaching-material-content-title">辅助教材</div>
                                <div class="teaching-material-content-level">计算机组成原理</div>
                                <div class="teaching-material-content-isbn">
                                    <span>ISBN:9787030372376</span>
                                </div>
                                <div class="teaching-material-content-editor">
                                    <span>主编:白中英,戴志涛</span>
                                </div>
                                <div class="teaching-material-content-from">科学出版社</div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="teacher-team-btn course-materials-btn">
                    <a id="more-materials" class="teacher-team-btn-more hide" href="javascritp:void(0);">查看更多</a>
                </div>
            </div>
        </div>
    </section>
    <section class="course-side pull-right">
        <div class="course-information boxstyle">
            <div class="title">课程信息</div>
            <div class="content-course">
                <div class="course-detail-box ">
                    <span class="course-right-span">课程类型: 理论课（含实验、实践）</span>
                </div>
                <div class="course-detail-box">
                    <span class="course-right-span">课程属性: 专业基础课/技术基础课</span>
                </div>
                <div class="course-detail-box">
                    <span class="course-right-span">课程学时: 64.0</span>
                </div>
                <div class="course-detail-box">
                    <span class="course-right-span">学校: 宁夏大学信息工程学院</span>
                </div>
                <div class="course-detail-box">
                    <span class="course-right-span">学科门类: 工学</span>
                </div>
                <div class="course-detail-box">
                    <span class="course-right-span">专业大类: 计算机类</span>
                </div>
                <div class="course-detail-box">
                    <span class="course-right-span">专业类: 软件工程（云计算、大数据）</span>
                </div>
                <div class="course-detail-box">
                    <span class="course-right-span">适用专业: 软件工程/计算机学科</span>
                </div>
            </div>
        </div>
    </section>
</div>
<!--资料--文章-->
<div class="row second-row">
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">最新资料下载</div>
            <div class="panel-body">
                <ul class="list-group" id="file-download-list">

                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">最新文章</div>
            <div class="panel-body">
                <ul class="list-group" id="artilce-list">

                </ul>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block frontfootjs %}
<!--<script type="text/javascript" src="/static/js/front/jquery.flexslider-min.js"></script>-->
<!--<script type="text/javascript">-->
    <!--$(document).ready(function(){-->
        <!--$('.flexslider').flexslider({-->
            <!--directionNav: true,-->
            <!--pauseOnAction: false-->
        <!--});-->
    <!--});-->
<!--</script>-->
<script src="/static/js/front/front_index.js"></script>
{% end %}