{% extends "front_base.html"%}

{% block title %}教学网站首页{% end %}

{% block title %}公告{% end %}

{% block cssblock %}
<link rel="stylesheet" href="/static/css/front/front_bulletin.css">
    {% block bulletincss %}
    {% end %}
{% end %}

{% block content%}
    <div class="bulletin-box">
        <div class="bulletin-left">
            <div class="row">
                <div>
                    <div class="thumbnail">
                        <img src="/static/images/front/bulletin.png" alt="公告">
                        <div class="caption">
                            <h3>课程公告</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bulletin-right">
            <div class="bulletin-list-content">
                <h3>公告&nbsp;&nbsp;<i class="iconfont title-top" title="公告信息">&#xe6d2;</i></h3>
                <a href="/cms/bulletinPage/" target="_blank"><span class="iconfont pub" title="发布公告" style="cursor: pointer;">&#xe624;</span></a>
                {% block bulletin_detail%}
                    <ul id="bulletin-ul-list">
                        {% if bulletin_infos %}
                            {% for bulletin in bulletin_infos %}
                            <li>
                                <i class="iconfont" title="通知消息">&#xe632;</i>&nbsp;&nbsp;
                                <a href="/bulletin_detail?id={{ bulletin['_id'] }}" data-value="{{ bulletin['_id'] }}">{{ bulletin['title'] }}</a>
                                <span><i class="iconfont top" title="已置顶公告">&#xe650;</i>&nbsp;&nbsp;&nbsp;&nbsp;{{ bulletin['top_time'] }}</span>
                            </li>
                            {% end %}
                        {% end %}
                        {% if unTopBulletins %}
                            {% for bulletin in unTopBulletins%}
                            <li>
                                <i class="iconfont" title="通知消息">&#xe632;</i>&nbsp;&nbsp;
                                <a href="/bulletin_detail?id={{ bulletin['_id'] }}" data-value="{{ bulletin['_id'] }}">{{ bulletin['title'] }}</a>
                                <span>{{ bulletin['pub_time'] }}</span>
                            </li>
                            {% end %}
                        {% end %}
                    </ul>
                    <!--分页-->
                    <!--分页-->
                {% end %}
            </div>

        </div>
    </div>
{% end %}

{% block footjs%}

{% end %}