{% extends "front_base.html"%}

{% block title %}文章详情{% end %}

{% block cssblock %}
<style>
    .article-detail-box{
        width: 700px;
        min-height: 600px;
        margin: 0 auto;
        margin-bottom: 60px;
        border-bottom: 1px solid #1E9FFF;

    }
    .article-h3{
        text-align: center;
        line-height: 70px;
    }
    .foot-author-info{
        width: 520px;
        margin: 0 auto;
    }
    .foot-author-info p{
        text-align: center;
    }
    .top-ul{
        width: 100%;
        height: 26px;
        border-bottom: 1px solid #02D09C;
    }
    .top-ul li {
        float: left;
        list-style: none;
        margin-right: 10px;
    }
</style>
{% end %}

{% block content%}
    <div class="article-detail-box">
        <h3 class="article-h3">{{ title }}</h3>
        <ul class="top-ul">
            <li><i class="iconfont">&#xe602;</i>&nbsp;文章类型：{{ category }}</li>
            {% if is_top %}
                <li><img src="/static/images/front/jh.png" alt=""></li>
            {% else %}
                <li><img src="/static/images/front/fx.png"></li>
            {% end %}
            <li><i class="iconfont">&#xe673;</i>&nbsp;作者：{{ author }}</li>
            <li><i class="iconfont">&#xe638;</i>&nbsp;发表时间：{{ pub_time }}</li>
        </ul>
        {% raw content %}
    </div>
    <div class="foot-author-info">
        <p>文章版权：本教学网站所有，如有侵权，请联系下方微信会QQ，我们会及时删除！</p>
    </div>
{% end %}


{% block frontfootjs %}
{% end %}