{% extends "front_sign_base.html" %}

{% block css_child_block %}
    <link rel="stylesheet" href="/static/css/front/front_forget_pwd.css">
{% end %}

{% block formblock %}
	<a href="#" class="btn btn-primary btn-lg disabled" id="forget-pwd">忘记密码</a>
	<div class="form-group form-set">
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-envelope"></span>
			<input type="email" class="form-control" name="email" placeholder="请输入邮箱">
		</div>
	</div>
	{% include "../common/captcha_base.html" %}
	{% if error %}
		<div class="form-group">
			<div class="input-group">
				<p class="btn btn-danger p-error">{{error}}</p>
			</div>
		</div>
	{% end %}
	{% if info %}
		<div class="form-group">
			<div class="input-group">
				<span class="btn btn-success p-error"><a href="/">{{info}}-点我返回</a></span>
			</div>
		</div>
	{% end %}
	<div class="from-group">
		<div class="input-group">
			<button class="btn btn-primary btn-lg btn-block">发送邮件重置密码</button>
		</div>
	</div>
{% end %}
