{% extends "base.html" %}

{% block header %}
{% end %}

{% block content %}
<div class="row col-sm-offset-1 col-sm-10 col-xs-offset-1">
    <h3 class="header-h3">修改主账号密码</h3>
    <div class="boundary"></div>
</div>
<div class="row col-sm-offset-1 col-sm-10 col-xs-10 col-xs-offset-1">
    <form  class="form-horizontal" id="modify_password_form" target="hidden-form" onsubmit="return false">
        <div class="form-group">
            <label  class="col-sm-2 col-sm-offset-1 control-label" for="old_password">旧密码</label>
            <div class="col-sm-4"><input type="password" class="form-control" name="old_password" id="old_password"></div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 col-sm-offset-1 control-label" for="new_password">新密码</label>
            <div class="col-sm-4"><input type="password" class="form-control" name="new_password" id="new_password"></div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 col-sm-offset-1 control-label" for="repeat_password">重复新密码</label>
            <div class="col-sm-4"><input type="password" class="form-control" name="repeat_password" id="repeat_password"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-1">
                <button type="submit" class="btn btn-primary" id="form-submit">确认修改</button>
            </div>
        </div>
    </form>
</div>
{% end %}

{% block footjs %}
{% end %}