{% extends "base.html" %}
{% block header %}
    <link href="/static/css/role_group.css" rel="stylesheet" type="text/css">
{% end %}
{% block content %}
<div style="margin:30px 2.5% 0">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p><i class="iconfont">&#xe60e;</i> 角色管理 {% if permission=='super_admin' %}<span class="iconfont pull-right" title="添加角色" id="add_role" style="cursor:pointer;">&#xe640;</span>{% end %}</p>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-striped" id="role">
                        <thead>
                            <tr>
                                <th>角色分类</th>
                                <th>角色属性</th>
                                <th style="width:120px;">处理</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% end %}

{% block footjs %}
<div class="modal fade" id="create_role_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close-quick close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title text-center">创建角色</h4>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <p><span class="iconfont" style="color:orange;">&#xe61d;</span> 角色名称限制为汉字、英文字母和数字组成且长度不得超过8位</p><br>
                        <div class="col-sm-4 text-center" style="padding-top:5px;">角色名称</div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="role-name">
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" id="save_btn" class="btn btn-primary">保存</button>
				<button type="button" class="close-quick btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="create_group_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close-quick close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title text-center">创建分组</h4>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <p><span class="iconfont" style="color:orange;">&#xe61d;</span> 分组名称限制为汉字、英文字母和数字组成且长度不得超过8位</p><br>
                        <div class="col-sm-4 text-center" style="padding-top:5px;">分组名称</div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="group-name">
                        </div>
                        <div class="col-sm-4 text-center" style="padding-top:5px;">级别值</div>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="rank-value">
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" id="save_group" class="btn btn-primary">保存</button>
				<button type="button" class="close-quick btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="update_group_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close-quick close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title text-center">修改分组</h4>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <p><span class="icon-font" style="color:orange;">&#xe611;</span> 分组名称限制为汉字、英文字母和数字组成且长度不得超过8位</p><br>
                        <div class="col-sm-4 text-center" style="padding-top:5px;">分组名称</div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="group-name">
                        </div>
                        <div class="col-sm-4 text-center" style="padding-top:5px;">级别值</div>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="rank-value">
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" id="update_group" class="btn btn-primary">保存</button>
				<button type="button" class="close-quick btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<script src="/static/js/cms/cms_role_manage.js"></script>
{% end %}
