{% extends "base.html" %}
{% block header %}
<style>
    #sub-account-block{
        margin: -8px 2.5% 0;
    }
    .col-md-offset-1{
        margin: 9px 0 0 44px;
    }
    #form1 .row{
        margin-bottom: 20px;
    }
    #add-sub-btn{
        float: right;
        margin: -15px 0 0 0;
    }
    .iconfont.ban,.iconfont.start-use{
        float: right;
        cursor: pointer;
    }
    .iconfont.ban:hover{
        color: #1E9FFF;
    }
    .iconfont.start-use{
        color: #dff0d8;
    }
    .iconfont.start-use:hover{
        color: #5b5b5b;
    }
</style>
{% end %}
{% block content %}
<div id="sub-account-block">
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>子账户管理</h3>
                    <span id="add-sub-btn" class="iconfont" title="添加子账号" style="cursor: pointer;">&#xe640;</span>
                </div>
                <ul class="list-group" id="sub-account-list">

                </ul>
            </div>
        </div>
        <div class="col-sm-7 hidden" id="add-subaccout-page">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>详细信息&nbsp;&nbsp;&nbsp;<span id="editor-sub-btn" class="iconfont" title="添加子账户" style="cursor: pointer;">&#xe63a;</span><span class="close" id="close_add_page" style="display:none;">&times;</span></h3>
                </div>
                <div id="right-subaccount-info" class="panel-body">
                    <div id="sub-info-list">
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-1">
                                <label for="sub_name">姓名 &nbsp;&nbsp;<span>*</span></label>
                            </div>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" id="sub_name" class="form-control" required="required" placeholder="请输入姓名"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-1">
                                <label for="tel">电话 &nbsp;&nbsp;<span>*</span></label>
                            </div>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" id="tel" class="form-control" placeholder="请输入电话"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-1">
                                <label for="user_email">邮箱 &nbsp;&nbsp;<span>*</span></label>
                            </div>
                            <div class="col-sm-8 col-md-6">
                                <input type="email" id="user_email" class="form-control" placeholder="请输入邮箱"/>
                            </div>
                        </div>
                        <div class="row" id="password-con">
                            <div class="col-sm-2 col-sm-offset-1">
                                <label for="password">密码 &nbsp;&nbsp;<span>*</span></label>
                            </div>
                            <div class="col-sm-8 col-md-6">
                                <input type="password" id="password" class="form-control" required="required">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-1">
                                <label for="permission">个人权限 &nbsp;&nbsp;<span>*</span></label>
                            </div>
                            <div class="col-sm-8 col-md-6" id="permission">

                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-sm-offset-1">
                                <button id="save-user" class="btn btn-primar">保存用户</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block footjs %}
<script type="text/javascript"  src="/static/js/cms/sub_account.js"></script>
{% end %}
