<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>404 NOT FOUND</title>
    <style>
        .jumbotron{
            width: 600px;
            margin: 0 auto;
        }
        .img-404{
            display: block;
            margin: 0 auto;
        }
        .btn-block{
            width: 295px;
            display: block;
            margin: 40px auto;
            border-radius: 15px;
        }
    </style>
</head>
<body>
    <div>
        <a href="/"><img src="" alt=""></a>
    </div>
    <img src="/static/images/common/404.png" alt="" class="img-404">
    <div class="jumbotron">
        <h1>404，Not found!</h1>
        <p>很抱歉，您要找的页面不存在,有可能走丢了！</p>
    </div>
    <a class="btn btn-success btn-block" href="/" role="button">返回『计算机组成与结构官网首页』首页</a>
</body>
</html>