@charset "utf-8";
.red{
    color: red;
}



a:hover {
    text-decoration: none; }

#header {
    background-color: #5994db; }

table {
    margin-bottom: 200px; }
table th, table tr {
    text-align: center; }

.center-header {
    margin: 20px auto;
    text-align: center;
    font-size: 24px;
    line-height: 16px; }
.center-header .center-header-ani {
    height: 3px;
    width: 60px;
    display: inline-block;
    background-color: #5994db;
    transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out; }
.center-header:hover .center-header-ani {
    width: 170px; }

.click-tip {
    margin-top: 30px;
    margin-bottom: 70px; }

#label {
    padding-left: 0;
    padding-right: 0; }

.head-info {
    margin-left: 0;
    margin-right: 0;
}
.no-padding{
    padding: 0 !important;
}

#intro{
    background-color: #b8b8b8;
    padding: 8px 5px;
    border-radius: 5px;
}



