#bulletin-block .panel-title{
    text-align: center;
}
#bulletin-block .panel-body{
    height: 180px;
}
#bulletin-block li{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    line-height: 27px;
}
#bulletin-block a{
    text-decoration: none;
}
#bulletin-ul li span{
    font-size: 20px;
    color:#337ab7;
}
#bulletin-ul li a{
    font-size: 16px;
}
.row .col-sm-3 .bulletin_panel{
    margin: 0 auto;
}

#bulletin-block{
    width: 390px;
    margin: 60px 0 0 0;
    position: relative;
}
.bulletin-more{
    width: 72px;
    position: absolute;
    bottom: 36px;
    right: 18px;
}
/*banner-start*/


*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
/* flexslider */
.flexslider{position:relative;height:400px;overflow:hidden;background:url(/static/images/banner/loading.gif) 50% no-repeat;
    background-size: 100% 300px;
}
.slides{position:relative;z-index:1;}
.slides li{height:400px;}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(/static/images/banner/dot.png) right 0 no-repeat;cursor:pointer;}
.flex-control-nav .flex-active{background-position:0 0;}
.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
.flex-direction-nav li a.flex-prev{left:40px;background:url(/static/images/banner/prev.png) center center no-repeat;}
.flex-direction-nav li a.flex-next{right:40px;background:url(/static/images/banner/next.png) center center no-repeat;}

/*第二行内容渲染-start*/
.row.second-row{
    width: 1159px;
    margin: 33px auto;
    min-width: 1080px;
}
.row.second-row span.update-time{
    float: right;
}
.row.second-row .look-download{
    float: right;
    margin: 17px 13px 0 0;
}
span.update-time i.iconfont{
    color:#1b809e;
}
.banner-box{
    width: 1130px;
    margin: 0 auto;
}
#bulletin-block{
    float: left;
}
#all{
    margin-right: 16px;
}
/*第二行内容渲染*/

/*首页课程信息渲染*/
.course-introduction{
    width: 1129px;
    height: 332px;
    margin: 30px auto;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.pull-left{
    width: 700px;
    float: left;
}
.course-title {
    font-size: 20px;
    margin-top: 20px;
    color: #333;
}
.course-title p.title-p {
    display: inline-block;
    float: left;
}
.course-title span.title-rank{
    width: 42px;
    border-radius: 4px;
    float: left;
}
.course-title.clearfix{
    width: 350px;
    margin: 42px 0 43px 36px;
}
.course-title span {
    background: #ff0000;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 3px;
    margin: -1px 0 0 10px;
}
#course-btn{
    width: 200px;
    height: 100px;
    margin: 0 0 0 35px;
}
.course-btn-style {
    width: 165px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 17px;
    display: block;
    background-color: #0e7079;
    line-height: 50px;
    text-decoration: none;
    color:#ffffff;
}
.course-btn-style:hover{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}
.course-text {
    color: #666;
    font-size: 15px;
    margin: 0 0 0 40px;
    letter-spacing: 1px;
}
.course-primary{
    width:800px;
    float: left;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.course-primary .title {
    padding-left: 40px;
}

.title {
    color: #333;
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    padding-left: 25px;
}
.content-course{
    margin: 18px 0 0 0;
}
.course-side {
    width: 300px;
}
.pull-right {
    float: right;
}
.course-information {
    height: 329px;
    margin-bottom: 15px;
    color: #666;
    line-height: 28px;
    font-size: 13px;
}
.course-information.boxstyle{
    height: 363px;
}
.boxstyle {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.course-information .title {
    color: #333;
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    padding-left: 25px;
}
.course-side.pull-right{
    width: 300px;
}
.course-right-span{
    float: left;
}

.course-detail-box{
    height: 30px;
    display: block;
    margin: 4px 0 0 26px;
}
.course-primary-main{
    width: 1129px;
    min-height: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.course-primary-text .content-intro{
    width: 719px;
    margin: 25px auto;
}
.course-primary-text .content-intro p{
    font-size: 14px;
    text-align: justify;
    color: #666;
    letter-spacing: 1px;
}
/*教材信息-start*/
.course-teaching-material-i {
    margin: 0 30px 30px 0;
    width: 294px;
}
.teaching-material {
    font-size: 12px;
    line-height: 22px;
    color: #666;
}
.teaching-material .teaching-material-img {
    width: 90px;
    height: 120px;
    margin: 31px 21px 0 40px;
    float: left;
}
.teaching-material .teaching-material-content {
    margin-top: 35px;
    float: left;
}
/*教材信息-end*/

/*教学单元-start*/
.content-unit{
    margin: 23px 0 0 41px;
}
.list-in-l{
    margin:10px 0 0 34px;
}
.list-in-l .list-in-i{
    overflow: hidden;
}
.list-in-l .list-in-i span{
    float: left;
    margin-right:10px;
}
.list-in-l .list-in-i p{
    float: left;
}
/*教学单元-end*/
