/*
* @Author: xiaodong
* @Date:   2018-01-02 14:26:13
* @Last Modified by:   xiaodong
* @Last Modified time: 2018-01-02 21:37:52
*/
#forget-pwd{
	margin:-8px 98px;
}
.form-set{
	margin-top: 50px;
}
#captcha-btn{
	margin:0px;
	padding: 0px;
}
#captcha-btn img{
	width:100px;
	height: 32px;
	margin:0px;
	padding: 0px;
}
.p-error{
	margin:0 auto;
}
.p-error a{
	text-decoration: none;
	color:#CDF0F0;
	font-size:18px;
}