body{
    background-color: #f8f8f8;
    min-width: 1200px;
}
.nav-top{
    width: 100%;
    height: 100px;
    /*overflow: hidden;*/
}
.clear-both{
    clear: both;
}
.nav-content-top{
    width: 1130px;
    height: 100%;
    margin: 0 auto;
}
#logo{
    margin: 17px 0 0 0;
    border-radius: 41px;
    float: left;
}
.nav-title{
    width: 490px;
    height: 100%;
    list-style: none;
}
.nav-title li{
    line-height: 100px;
    font-size: 17px;
    color: dimgray;
    letter-spacing: 1px;
    font-family: 华文行楷;
    margin-left: 26px;
}
.nav-title{
    float: left;
}
.nav-login{
    /*width: 460px;*/
    float: right;
    height: 100%;
}
.nav-login .dropdown{
    margin: 42px 0 0 0;
    list-style: none;
}
#username{
    font-size: 17px;
    text-decoration: none;
    color: dimgray;
}
.login-regist{
    list-style: none;
    margin: 42px 0 0 0;
}
.login-regist a{
    font-size: 17px;
    text-decoration: none;
    color: dimgray;
}
/*nav-start*/
.nav{
    width: 100%;
    background-color: #0e7079;
}
.horizontal-nav {
    background: #efefef;
    border-radius: 6px;
    width: 1130px;
    margin: 0 auto;
}
.horizontal-nav ul {
    margin: 0;
    padding: 0;
    background: #128F9A;
    float: left;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #0e7079;
    list-style-type: none;
}
.horizontal-nav ul li {
    float: left;
    border-left: 1px solid #0e7079;
}
.horizontal-nav ul li:first-child {
    border-left: 0 none;
}
.horizontal-nav ul li a {
    text-decoration:none;
    display: block;
    padding: 10px 20px;
    color: #fff;
    border-top: 1px solid rgba(255,255,255, 0.25);
    border-left: 1px solid rgba(255,255,255, 0.25);
}
.horizontal-nav ul li:first-child a {
    border-left: 0 none;
}
.horizontal-nav ul li a:hover {
    background: #12808a;
}
.horizontal-nav ul li:first-child a {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.horizontal-nav ul li:last-child a {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.clearfix:before, .clearfix:after {
    content: "\0020"; display: block; height: 0; visibility: hidden;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
/*nav-end*/

/**/

.content{
    width: 100%;
    position: relative;
    margin: 0;
    overflow: hidden;
}
#course-nav{
    position: relative;
}

.nav .sub-nav{
    width: 100%;
    height: 126px;
    position: absolute;
    background-color: #12808a;
    top:41px;
    left: 0px;
    z-index: 5;
    display: none;
}
.sub-nav p{
    color:#fff;
    margin: 0;
}

.sub-nav p a{
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0, 0);
}
.sub-nav p a:hover{
    font-size: 15px;
    background-color: #128f9a;
}
#course-nav:hover .sub-nav{
    display: block;
}


/*版权所有-start*/
.row.footer{
    width: 100%;
    background-color: #0e7079;
    height: 300px;
    position: relative;

}
.row.footer .footer-content{
    width: 1130px;
    height: 220px;
    margin: 0 auto;
}
.card-link{
    height: 170px;
}
.friendly-link{
    height: 50px;
    width: 1130px;
    margin: 0 auto;
    border-top: 1px solid #656973;
    border-bottom: 1px solid #656973;
}
.friendly-link ul li{
    list-style: none;
    float: left;
    color:#d6d6d6;
    margin: 14px 0 0 0;
}
.friendly-link .link-li{
    margin: 14px 21px 0 0;
}
.friendly-link ul li a{
    color:#FFF;
}
.row.footer .copy{
    width: 760px;
    height: 80px;
    margin: 0 auto;
    border-top: 1px solid rgba(193, 193, 193, 0.07);
}
.copy p{
    color:#f0f0f0;
    font-size: 17px;
    letter-spacing: 1px;
    text-align: center;
    overflow: hidden;
    margin: 30px 0 0 0;
}
.contact{
    width: 150px;
    height: 70px;
    margin: 33px 0 0 22px;
    float: left;
}
.contact ul li{
    color:#FFF;
    list-style: none;
}
/*二维码*/
.qrcode{
    width: 101px;
    float: right;
    margin: 22px 10px 0 0;
    position: relative;
}
.qrcode img{
    width: 120px;
    height: 120px;
}
span.iconfont{
    width: 30px;
    height: 30px;
}
div.icon .iconfont{
    cursor: pointer;
    font-size: 37px;
    color:#FFF;
    float: left;
}
.icon.w{
    width: 32px;
    height: 32px;
    float: left;
    margin: 0 25px 0 0;
}
.icon.q{
    width: 32px;
    height: 32px;
    float: left;
}
div.qrcode-w,div.qrcode-q{
    width: 120px;
    height: 120px;
    position: absolute;
    top:-136px;
}
.qrcode-w{
    right:27px;
    display: none;
}
.qrcode-q{
    right: -21px;
    display: none;
}
.icon.w{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.icon.q{
    width: 35px;
    height: 35px;
}
.icon.w:hover .qrcode-w{
    display: block;
}
.icon.q:hover .qrcode-q{
    display: block;
}
.down_icon{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); 	/* IE 9 */
    -moz-transform:rotate(45deg); 	/* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg); 	/* Opera */
    bottom: -4px;
    left: 56px;
}
/*版权所有-end*/

