@charset "utf-8";
.red{
    color: red;
}
a:hover {
    text-decoration: none;
}
#header {
    background-color: #5994db;
}

table {
    margin-bottom: 200px;
}
table th, table tr {
    text-align: center;
}

#label {
    padding-left: 0;
    padding-right: 0;
}


/** 初始化 **/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td,form,pre{margin: 0; padding: 0; -webkit-tap-highlight-color:rgba(0,0,0,0)}
body{-webkit-font-feature-settings: 'kern' 1; -moz-font-feature-settings: 'kern' 1; -o-font-feature-settings: 'kern' 1; text-rendering: geometricPrecision;}
a:active,a:hover{outline:0}
img{display: inline-block; border: none; vertical-align: middle;}
li{list-style:none;}
table{border-collapse: collapse; border-spacing: 0;}
h1,h2,h3{font-size: 14px; font-weight: 400;}
h4, h5, h6{font-size: 100%; font-weight: 400;}
button,input,select,textarea{font-size: 100%; }
input,button,textarea,select,optgroup,option{font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; outline: 0;}
pre{white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;}

/** 滚动条 **/
::-webkit-scrollbar{width: 5px; height: 10px;}
::-webkit-scrollbar-button:vertical{display: none;}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner{background-color: #e2e2e2;}
::-webkit-scrollbar-thumb{border-radius: 0; background-color: rgba(0,0,0,.3);}
::-webkit-scrollbar-thumb:vertical:hover{background-color: rgba(0,0,0,.35);}
::-webkit-scrollbar-thumb:vertical:active{background-color: rgba(0,0,0,.38);}


/** 初始化全局标签 **/
body{line-height: 24px;font: 14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;}
a{color: #333; text-decoration:none; }
a:hover{text-decoration:none}
a cite{font-style: normal; *cursor:pointer;}


/* login */
.login-bg{background: url('/static/images/log.jpg') no-repeat center center fixed;background-size:100% 100%;}
.login-box {width: 450px;height: 330px;margin: 10% auto;background-color: rgba(255, 255, 255, 0.407843);border-radius: 10px;color: aliceblue;}
.login-box header {height: 39px;padding: 10px;border-bottom: 1px solid aliceblue;}
.login-box header h1 {text-align: center;font-size: 25px;line-height: 40px;}
.login-box .login-main {height: 185px;padding: 30px 90px 0;}
.login-main .layui-form-item {position: relative;}
.login-main .layui-form-item .login-icon {position: absolute;color: #ccc;top: 10px;left: 10px;}
.login-main .layui-form-item input {padding-left: 34px;}
.login-box footer {height: 35px;padding: 10px 10px 0 10px;}
.login-box footer p {line-height: 35px;text-align: center;}
.pull-left {float: left !important;}
.pull-right {float: right !important;}
.clear {clear: both;}
.login-remember {line-height: 38px;}
.login-remember .layui-form-switch {margin-top: 0px;}
.login-code-box {position: relative;padding:10px;}
.login-code-box input{position: absolute;width: 100px;}
.login-code-box img{cursor: pointer;position: absolute;left: 115px;height: 38px;}



/* 布局风格 */
.layout-admin{margin: 0 auto;font-size: 14px;}
.layout-header{background-color:#5994db;position:fixed; width:100%;border-bottom: 0px solid #5994db;height:45px;z-index:1000;}
.layout-side{position: fixed;display: block;top: 45px;bottom:0px;left:0px; width: 200px;overflow-x: hidden;background-color: #393D49;color: #c2c2c2;z-index:999;}
.layout-side::-webkit-scrollbar{width: 0px; height: 10px;}
.layout-main{position: absolute;top:45px;right:0;bottom: 30px;left:200px;width:auto;overflow:hidden;overflow-y: auto;z-index:998;}
.layout-main-tab{height: 39px;line-height: 39px;overflow: hidden;position: relative;background: #f2f2f2;border-bottom: solid 1px #0e9aef;}
.layout-main-body{position: absolute;top: 0;bottom: 0;left: 0;right: 0;padding-top:40px;overflow:auto;margin:0 0 0 10px;}
.layout-footer{position: fixed; left: 200px; right: 0; bottom: 0; height: 30px;line-height:30px;background-color: #eee;border-top:1px solid #ccc;text-align:center;z-index:998;}

/* 头部 */
.header-logo{margin-left: 10px;color:#fff;line-height:45px;font-size:16px;}
.header-bar{float:right;color:#fff;height: 45px;line-height:45px;margin-right: 10px;}
.header-bar li{
  float:left;position: relative;
   }
.header-bar li a {margin:0 24px;color:#fff;}
.header-bar li a i{font-size:14px;}
.header-bar-nav{
    width: 142px;
}
.header-bar-nav .header-dropdown-menu{width:100%;position:absolute;top:100%;display:none;background-color:#fff;border:solid 1px #ccc;border-top:none;z-index: 1000;}
.header-bar-nav .header-dropdown-menu li{position: relative; float: none;display:block;margin: 0;cursor:pointer;}
.header-bar-nav .header-dropdown-menu li a{display: block;clear: both;border-bottom:1px solid  #f2f2f2;margin:0;padding:8px 20px;text-align:center;line-height:1.5;font-weight: normal;white-space:nowrap;color:#333;}
.header-bar-nav .header-dropdown-menu li:last-child a{ border-bottom:none}
.header-bar-nav.open .header-dropdown-menu{display:block;}
.header-bar-nav.open .header-dropdown-menu.right{right:10px!important;left:auto!important}
.header-bar-nav:hover,.header-bar-nav:focus{background-color:rgba(255,255,255,0.3)}
.header-bar-nav .header-dropdown-menu li a:focus{background-color:#fafafa}
.header-menu-btn{display:none;float:right;color:#fff;width:40px;text-align:center;line-height:45px;font-size:14px;}
.header-menu-btn:hover{background-color:rgba(255,255,255,0.3)}
#old_ul li:hover{background:#f0f0f0;}
/* 左侧菜单 */
.side-menu{list-style: none; margin: 0; padding: 0; background-color: #393D49;position: relative;font-size: 14px;}
.side-menu .menu-item{position: relative; margin: 0; padding: 0;}
.side-menu .menu-item a{padding: 12px 5px 12px 15px; display: block; border-left: 5px solid transparent; color: #c2c2c2;border-bottom: 1px solid #393D49;}
.side-menu .menu-item a span{margin-left: 8px;}
.side-menu .menu-item:hover > a, .side-menu .menu-item.active > a{color: #fff; background: #4E5465; border-left-color: #5994db;transition: all .3s; -webkit-transition: all .3s;}
.side-menu .menu-header{color: #fff; background: #2B2E37;height:39px;line-height:39px;padding-left:10px;border-bottom: 1px solid #2b2e37;}
.side-menu .menu-item a .icon-right{width: auto; height: auto; padding: 0; margin-right: 10px; margin-top: 3px;float:right;}
.side-menu .menu-item .label{display: inline;padding:.3em;font-size: 75%;font-weight: 700;line-height: 1;color: #fff;text-align: center;white-space: nowrap;vertical-align: baseline;background: #5994db;border-radius: .25em;margin-right: 5px;float: right!important;}
.side-menu li.active > a .icon-right{transform: rotate(90deg);-ms-transform:rotate(90deg);/* IE 9 */-moz-transform:rotate(90deg); 	/* Firefox */-webkit-transform:rotate(90deg); /* Safari 和 Chrome */-o-transform:rotate(90deg); 	/* Opera */}
/* 菜单收缩展开样式 */
.layout-side-arrow{display:inline-block;color:white;padding-left:20px;text-decoration: none;}
.layout-side-arrow:link{color:white;text-decoration: none}
.layout-side-arrow:hover{color:yellow;background: none;}

/* 点击菜单收缩后变更的样式 */
.layout-side.close{left:-200px;}
.layout-main.full-page{left:0px;}
.layout-footer.full-page{left:0px;}

/*菜单选项卡*/
.tab-btn{position: absolute;width: 40px;height: 39px;text-align: center;color: #999;z-index: 2;top: 0;background: #f2f2f2;border: 0;outline: 0;cursor:pointer;}
.tab-btn i{font-size:20px;}
.tab-btn.btn-left{left: 0;border-right: solid 1px #ccc;}
.tab-btn.btn-right{right: 0px;border-left: solid 1px #ccc;}
.tab-nav{margin-left: 40px;width: 100000px;height: 40px;line-height: 40px;overflow: hidden;}
.tab-nav-content{float: left;margin-left: 0px;}
.tab-nav-content a{display:block;color: #999;cursor: auto;border-right: solid 1px #ddd;padding: 0 15px;float:left;}
.tab-nav-content a.active{color: #5994db;background: #fff;}
.tab-nav-content a i{color:#ccc;font-size:12px;vertical-align:top;}
.tab-nav-content a i:hover{color:#FF5722;}
.tab-nav-content a.active i:hover{color: #FF5722;}
.tab-nav-content .content-tab{transition: all .3s ease-out 0s;-webkit-transition: all .3s ease-out 0s;}

/** 动画 **/
@-webkit-keyframes icon-rotate{ /* 旋转360 */
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
@keyframes icon-rotate{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
.icon-anim-rotate{-webkit-animation-name: icon-rotate; animation-name: icon-rotate; -webkit-animation-duration: 1s; animation-duration: 1s;  -webkit-animation-timing-function: linear; animation-timing-function: linear;}

/** 响应式**/
@media (max-width: 750px) {
  .layout-header .header-bar .header-bar-role{display:none;}
  .layout-header .header-bar .header-bar-nav:last-child{display:none;}
  .header-menu-btn{display:block;}
  .layout-side-arrow{display: none;}
  .layout-side{display:none;width:100%;}
  .layout-main{left:0px;}
  .layout-footer{left:0px;}
}
.boundary{
  height: 2px;
  width:100%;
  margin: 10px 0 30px 0;
  background: linear-gradient(to right,#525869,#ffffff);
}
.header-h3{
  font-size: 24px;
}
*{
  padding: 0px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{padding-left: 0px;margin-bottom: 10px;}
.form-group>div>div:first-child{
  padding: 0;
  margin-top: 2px;
}
.table{
  text-align: center;
}
.top_bel{
  font-size: 32px;
}
.top_bel{
  font-size: 26px;
}
#top_rb{
  float: right;
  position: relative;
  right: 16%;
}
#top_lb{
  position: relative;
  left: 4%;
}
.form-group>label{
  font-size: 16px;
  font-weight: normal;
  padding-left:0;
  padding-right: 0;
  text-align: left !important;
}
#otherName-wrap{
  margin-bottom: 40px;
}
#form-submit{
  margin-top: 40px;
  margin-left: 20px;
}

#drop-content,#drop-business-content,#drop-resource-content,#drop-switch-content, #drop-workorder-content{
  display: none;
  background: rgba(0,0,0,0.2);
}
#drop-content ul>li,#drop-business-content ul>li,#drop-resource-content ul>li,#drop-switch-content ul>li, #drop-workorder-content ul>li{
  display: block;
  cursor: pointer;
  margin-bottom: 1px;
}
#drop-content ul>li:hover,#drop-business-content ul>li:hover,#drop-resource-content ul>li:hover,#drop-switch-content ul>li:hover, #drop-workorder-content ul>li:hover{
  background: #4E5465;
}
#drop-content ul>li:hover a,#drop-business-content ul>li:hover a,#drop-resource-content ul>li:hover,#drop-switch-content ul>li:hover a, #drop-workorder-content ul>li:hover a{
  color: white;
}
#drop-content ul li a,#drop-business-content ul li a,#drop-resource-content ul li a,#drop-switch-content ul li a, #drop-workorder-content ul li a{
  padding: 6px 43px;
  color:#C2C2C2;
  text-decoration: none;
  display: block;
}
